doctype

html

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Embraer Teste
		meta(name='description', content='Teste')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,600i")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Satisfy")
		link(rel='stylesheet', href='build.css')

	body

		include ./includes/nav.pug
		include ./includes/hero.pug
		include ./includes/about.pug
		include ./includes/portfolio.pug
		include ./includes/donate.pug
		include ./includes/contact.pug
		include ./includes/footer.pug
		
		script(async, src="build.js")
