doctype

html

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Embraer Test
		meta(name='description', content='Teste')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,600i")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Satisfy")
		link(rel='stylesheet', href='build.css')

	body
		
		include ./includes/nav.jade
		include ./includes/hero.jade
		include ./includes/about.jade
		include ./includes/portfolio.jade
		include ./includes/donate.jade
		include ./includes/contact.jade
		include ./includes/footer.jade
		
		script(async, src="build.js")
