nav.nav

	.nav__wrapper
		a(href="#").nav__logo
			| <span>Embraer Test</span>

		span.nav__mobile
			span.nav__mobile-lines

		ul.nav__menu
			li.nav__item
				a(href="#hero").nav__link
					| Início
			li.nav__item
				a(href="#about").nav__link
					| Sobre
			li.nav__item
				a(href="#portfolio").nav__link
					| Portfólio
			li.nav__item
				a(href="#donate").nav__link
					| Doações