// COLORS
$color__default:		#ffffff;
$color__hero:	 		#0da9e5;
$color__donation: 		#14af8f;
$color__text: 			#545454;
$color__drible: 		#ea4c89;
$color__drible_s: 		#f3787a;

// TEXTS
$text__family:			'Montserrat', sans-serif;
$text__color:			$color__text;
$text__size:	 		14 !default;
$text__line: 			20 !default;
$text__margin: 			0 0 20 !default;